*{
    box-sizing: border-box;
}
html{
    font-family:'Franklin Gothic Medium';
}
body{
    background:rgb(245, 152, 99);
}
h1 {
    margin: 0;
    font-size: 22px;
}
td{
    padding: 1vh;
    margin: 5px;
}

button{
    border-style:none;
    padding: 2vh;
    margin: 5px auto;
    border-radius: 10px;
    background-color: rgb(155, 155, 155);

}
button:hover {
    cursor: pointer;
    background-color: rgb(202, 196, 196);

}


header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 169, 42);
}

header input {
    border-radius: 4px;
    height: 30px;
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    transition: 0.5s;
}
header input:focus {
    background-color: antiquewhite;
    padding: 0.5em 1em;
}

header button {
    border: none;
    background-color: transparent;
}



 /* HELPERS */
 .flex{
    display: flex;
 }
 .grid{
    display: flex;
 }

 /* LocS Table */
 .locations-table{
     background-color: rgb(30, 80, 100);
     flex-direction: column;
     padding: 5px;
 }
